.job-item-bg {
  background-color: #272727;
  border-radius: 13px;
  padding: 15px;
  margin-top: 20px;
}
.jobs-img {
  height: 70px;
  width: 70px;
  margin-right: 23px;
}
.job-item-head {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 0px;
}
.star {
  color: #fbbf24;
  margin-right: 5px;
  font-size: 23px;
}
.rating-con {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.job-title-con {
  display: flex;
  align-items: center;
}
.location {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 10px;
}
.location-con {
  display: flex;
  margin-top: 30px;
}
.loc-con {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.lpa {
  color: #ffffff;
  margin-left: auto;
  font-family: 'Roboto';
  font-weight: 500;
}
.description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}
.description-1 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}
